@media (min-width: 720px) {
    #DB {
        width: 36%;
    }
}

@media (max-width: 720px) and (max-height: 1024px) {
    button {
        width: 30px;
        height: 30px;
        font-size: 10px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #DB {
        width: 35.5%;
    }

    .screen {
        height: 30px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #SRC {
        font-size: 20px;
        line-height: 30px;
        margin-right: 10px;
        text-align: right;
        color: rgba(9, 255, 9, 0.892);
    }
}